*{
  color: rgb(20, 28, 36);
}

.basket_container{
  margin-top: 48px;
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.header_basket, .cost_all_pizzas{
  line-height: 32px;
  font-size: 24px;
  font-weight: 700;

  /* color: rgb(20, 28, 36); */
}

.pizza_in_bascet_list{
  display: flex;
  gap: 24px;
  flex-direction: column;
}

.hr_line {
	/* margin: 20px 0; */
	padding: 0;
	height: 0;
	border: none;
	border-top: 1px solid rgb(227, 229, 229);
}

.wrap_cost_order{
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrap_cost_order.hidden{
  display: none;
}

.cost_all_pizzas{
  display: flex;
  gap: 24px;
}

.btn_arrange{
  width: 328px;
  height: 100%;
}

.btn_arrange.inactive{
  background-color: rgba(255, 171, 145, 1);
  cursor: none;
}

